.centeredCollum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
}

@media screen and (min-width: 968px) {
    section {
        max-width: 50%;
    }
}

section {
    width: 100%;
    box-sizing: border-box;
}